$color: yellow;

body {
  background-color: purple;
  h1{
    text-align: center;
    color: $color;
    font-size: 50px;
  }
  p{
    color: $color ;
  }
  .button-container{
    text-align: center;
    button{
      padding: 10px;
      background-color: $color;

    }
  }
  .hello-world{
    text-align: center;
    font-size: 50px;
    color: $color;
  }

}
